<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">


        <div class="col-md-6 mt-5">
            <input class="form-control date-value" type="text" name="daterange" />
        </div>
        <div class="col-md-2 mt-5">
            <button class="btn search-btn btn-info" data-id="">Search</button>
        </div>



        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Valute</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
                <th scope="col">Status</th>
                <th scope="col">Difference</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
            </tr>
            </thead>
            <tbody>



            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function () {
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            }
        });

        $('input[name="daterange"]').daterangepicker({
            opens: 'center',
            locale: {
                format: 'DD/MM/YYYY'
            },
        }, function(start, end, label) {

            a = start.format('YYYY-MM-DD');
            b = end.format('YYYY-MM-DD');
            /*$.ajax({
                method:'POST',
                url:'{{ request.path }}',
                data:{
                    start:a,
                    end:b,
                },
                success:function (data) {
                    console.log(a)
                }
            })*/
        });
        $('.search-btn').click(function () {
            var change_date = $('.date-value').val()
            $.ajax({
                method:'POST',
                url:'{{ request.path }}',
                data:{
                    change_date:change_date
                },
                success:function (data) {
                    console.log(data)
                    var currencies = $('tbody');
                    currencies.html('')
                    for(i=0;i<data.length;i++){
                        currencies.append(
                            "<tr>"+
                            `<th scope=''>${i}</th>`+
                            `<td>${data[i]['Name']}</td>+`+
                            `<td>${data[i]['@Code']}</td>`+
                            `<td>${data[i]['Value']}</td>`+
                            `<td>${data[i]['status']}</td>`+
                            `<td>${data[i]['changes']}</td>`+
                            `<td>${data[i]['from']}</td>`+
                            `<td>${data[i]['to']}</td>`+
                            "</tr>")

                    }


                }
            })
        })

    })
</script>
</body>
</html>